body {
    background-image: url("../abstract.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    font-size: 20px;
}
h1 {
    color:white;
    font-size: 70px;
}
p{
    color: white;
}
h2 {
    color: white;
    font-size: 30px;

}
a {
    color: aqua;
}
.hobby{
text-align: left;
margin-left: 47.6%;
}